<a href="https://colab.research.google.com/github/Rusanyuk/Data-with-Python/blob/main/PythonExercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1A. Write a program to add the two numbers 9 and 13.

In [1]:
#Write program here
num1 = 9
num2 = 13
sum = num1 + num2

print(sum)

22

1B. Write a python program to multiply the two numbers 4 and 5.

In [2]:
#Write program here
num1 = 4
num2 = 5
sum = num1 * num2

print(sum)

20

1C. Write a program that calculates the annual salary of an employee after it increases by 10%. (Initial annual salary Â£42,000)

In [4]:
#Write program here
initial_salary = 42000
new_salary = round(initial_salary * 1.10)

print(new_salary)

46200

2A. Write a python program that finds the volume of a cuboid with length 2m, width 3m and height 5m.

In [5]:
#Write program here
length = 2
width = 3
height = 5
volume = length * width * height

print(volume)

30

2B. Write a program that finds the area of a circle that has a radius of 4m. (You can take pi as being 3.14)

In [7]:
#Write program here
r = 4
pi = 3.14
area=(pi*(r**2))

print(area)

50.24

2C. Write a program that finds the volume of a cone of radius 2m and height 5m. (You can take pi as being 3.14)

In [8]:
#Write program here
radius = 2
height = 5
pi = 3.14
volume = (pi*(radius**2)*height)/3
print(round(volume,2))

20.93

2D. Write a python program that uses a loop to find the factorial of 5.

In [11]:
#Write program here
factorial = 1
for x in range(1, 6):
  factorial = factorial * x

print(factorial)

120